.btn-primary {
  --bs-btn-bg: #AB1D2C;
  --bs-btn-border-color: #AB1D2C;
  --bs-btn-hover-bg: #AB1D2C;
  --bs-btn-hover-border-color: #AB1D2C;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-bg: #AB1D2C;
  --bs-btn-active-border-color: #AB1D2C;
  --bs-btn-disabled-bg: #AB1D2C;
  --bs-btn-disabled-border-color: #AB1D2C;
}

.input-group .form-control,
.input-group .form-select,
.input-group-text {
  border-color: #AB1D2C;
}

.autocad-command {
  /* background-color: var(--bs-secondary); */
  border: 1px solid;
  /* color: var(--bs-white); */
  padding: 0.125rem 0.5rem;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: Arial;
}

.bg-danger {
  padding-right: 0.25rem;
  padding-left: 0.25rem;
  font-weight: bold;
  border-radius: 3px;
}